# Exclude all files from Gradle directories
.gradle
/build/

# Exclude all Idea related project files
.idea/
*.iml
*.ipr
*.iws

# Exclude all Eclipse related project files
.settings/
.project
.classpath

*.log